{
  "presets": [
    "stage-2",
    ["env", {
      "targets": {
        "node": "current"
      }
    }]
  ],
  "plugins": [
    ["flow-runtime", {
      "assert": true,
      "annotate": true
    }],
    "syntax-flow",
    "transform-flow-strip-types"
  ]
}
